@page
@model ProjectComicBook.Pages.Browse

@{
    ViewData["Title"] = "Browse";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-2 bg-secondary bg-opacity-10 text-center">
                    Recente toegevoegde stripboeken
                </div>

                @{
                    System.Diagnostics.Debug.Assert(Model.GetAllComicBooks != null, "Model.GetAllComicBooks != null");
                }
                @foreach (var c in Model.GetAllComicBooks) {
                    string cover = c.cover;
                    @if (string.IsNullOrEmpty(cover)) {
                        c.cover = "https://cutt.ly/QDxYZlD";
                    }
                    <div class="card col-6" style="">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="@c.cover" class="img-fluid rounded-start" alt="@c.cover">
                            </div>
                            <div class="col-sm">
                                <div class="card-body">
                                    <h5 class="card-title">@c.title</h5>
                                    <p class="card-text">Datum: @c.releaseDate.ToString($"dd-MM-yyyy")</p>
                                    <p class="card-text">ISBN: @c.isbn</p>
                                    
                <!-- add comicbook to collection-->
                <form method="post" asp-page-handler="AddToCollection">
                    <button type="submit" class="btn btn-primary" name="addBook" value="@c.comicbookID" data-bs-toggle="modal" data-bs-target="#CollectionAdd">Toevoegen aan collectie</button>
                </form>
                <div class="modal fade" id="CollectionAdd" tabindex="-1" aria-labelledby="AddAlert" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddAlertLabel">Aan uw collectie toegevoegd</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @c.title is toegevoegd aan uw collectie.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>