@page
@model ProjectComicBook.Pages.CookieCallVoorbeelden

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Get Cookie Name
    <h1>@Model.Name</h1>
    Get Cookie UserName
    <h1>@Model.UserName</h1>
    Get Cookie Password
    <h1>@Model.Password</h1>
    Get Cookie RoleId
    <h1>@Model.UserRole</h1>
    Get Cookie UserID
    <h1>@Model.UserID</h1>
    Get Cookie StayLoggedBool
    <h1>@Model.LoginBool</h1>
</div>
</body>
</html>