@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Lijst van stripboeken, auteurs, tekenaars.</h1>
</div>
<div>
    <label>Stripboeken</label>
    <ul>
        @foreach (var comicBook in Model.ComicBooks)
        {
            <li>ID: @comicBook.comicbookID -- Stripboek: @comicBook.titel -- Aantal blz.: @comicBook.pages -- Beschijving: @comicBook.description</li>
            <br/>
        }
    </ul>

    <label>Auteurs</label>
    <ul>
        @foreach (var author in Model.Authors)
        {
            <li>ID: @author.authorID, Naam: @author.name, Omschrijving: @author.description</li>
        }
    </ul>
    <label>Tekenaars</label>
        <ul>
            @foreach (var illustrator in Model.Illustrators)
            {
                <li>ID: @illustrator.authorID, Naam: @illustrator.name, Omschrijving: @illustrator.description</li>
            }
        </ul>
</div>