@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-2 bg-secondary bg-opacity-10 text-center">
                    Recente toegevoegde stripboeken
                </div>
                @foreach (var recentlyAddedComicBook in Model.RecentlyAddedComicBooks) {
                    <div class="card" style="">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src="https://cutt.ly/GSYluo6" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-sm">
                                <div class="card-body">
                                    <h5 class="card-title">@recentlyAddedComicBook.titel</h5>
                                    <p class="card-text">Auteur(s): @recentlyAddedComicBook.name</p>
                                    <p class="card-text">ISBN: @recentlyAddedComicBook.isbn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-2 bg-secondary bg-opacity-10 text-center">
                    Recent nieuws
                </div>
            </div>
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-4 bg-secondary bg-opacity-10 text-center">
                    Leuke weetjes
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <label>Stripboeken</label>
    <ul>
        @foreach (var comicBook in Model.ComicBooks)
        {
            <li>ID: @comicBook.comicbookID -- Stripboek: @comicBook.titel -- Aantal blz.: @comicBook.pages -- Beschijving: @comicBook.description</li>
            <br/>
        }
    </ul>

    <label>Auteurs</label>
    <ul>
        @foreach (var author in Model.Authors)
        {
            <li>ID: @author.authorID, Naam: @author.name, Omschrijving: @author.description</li>
        }
    </ul>
    <label>Tekenaars</label>
        <ul>
            @foreach (var illustrator in Model.Illustrators)
            {
                <li>ID: @illustrator.authorID, Naam: @illustrator.name, Omschrijving: @illustrator.description</li>
            }
        </ul>
</div>