@page
@model ProjectComicBook.Pages.UpdateAuthor

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lijst van auteurs om te bewerken.</h1>
</div>
<div>
    <label>Auteurs</label>
    <ul>
        @foreach (var author in Model.Authors)
        {
            <li>
                @author.authorID, @author.name, @author.description
                <!-- update author -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#idE-@author.authorID">
                    Aanpassen
                </button>
                
                <div class="modal fade" id="idE-@author.authorID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Let op</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" asp-page-handler="UpdateAuthor">
                                <div class="modal-body">
                                    <label for="authorName" class="form-label">Auteur</label>
                                    <input type="text" class="form-control" id="authorName" name="authorName" aria-describedby="emailHelp" required>
                                    <label for="authorDescription" class="form-label">Omschrijving</label>
                                    <input type="text" class="form-control" id="authorDescription" name="authorDescription" aria-describedby="authorDescriptionHelp">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                                    <button type="submit" class="btn btn-warning" name="upd-button" value="@author.authorID">Aanpassen</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- delete author -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#idD-@author.authorID">
                    Verwijderen
                </button>
                
                <div class="modal fade" id="idD-@author.authorID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Let op</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                U staat op het punt om @author.name te verwijderen. Het ID van @author.name is @author.authorID.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                                <form method="post" asp-page-handler="DeleteAuthor">
                                    <button type="submit" class="btn btn-danger" name="del-button" value="@author.authorID">Verwijderen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>